.sidebar {
  height: 100vh;
  width: 4rem;
  position: fixed;
  background-color: var(--sideBar);
  transition: width 200ms ease-out;
  z-index: 99;

  .side-text {
    display: none;
    white-space: nowrap;
  }

  .top,
  .bottom {
    height: 4rem;

    .side-item {
      height: 100%;
      width: 100%;
      padding: 20px;
      display: flex;
      align-items: center;

      .icon {
        transform: scale(2);
        color: red;
      }

      .side-text {
        margin-left: 1.5rem;
      }
    }
  }
  &:hover {
    width: 15rem;

    .side-text {
      display: block;
      margin-left: 1.5rem;
      // font-weight: bold;
      // font-size: 2rem;
    }
  }
  .top .side-text {
    font-size: 2rem;
    font-weight: bold;
  }

  .center {
    height: calc(100% - 130px);

    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      li {
        height: 3rem;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: lightgray;
        }
        &:last-child {
          margin-top: auto;
        }

        .li-item {
          display: flex;
          align-items: center;
          padding: 10px 20px;

          .side-text {
            margin-left: 1rem;
            white-space: nowrap;
          }
        }
        .li-item.active {
          .icon,
          .side-text {
            color: blue;
          }
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid lightgray;
    .side-text {
      white-space: nowrap;
    }
    .side-item {
      padding-left: 10px;
    }
    img {
      height: 2.5rem;
      border-radius: 50px;
      object-fit: contain;
    }
  }
}
